# Database Configuration
DB_URL=postgresql://postgres:postgres@localhost:5432/telecom_analytics

# Data Directory Configuration
RAW_DATA_DIR=data/raw/
STAGING_DATA_DIR=data/staging/
PROCESSED_DATA_DIR=data/processed/

# Airflow Configuration
POSTGRES_CONN_ID=Test-dB
